*{
    margin: 0;
    padding: 0;
}

h1 {
    font-family: arial;
}

h5 {
    color: red;
    font-weight: bold;
    font-family: arial;
}
.card {
    margin: 15px;
    padding: 15px;
    border-radius: 5px;
}